body {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.tags {
    background-color: #eeeeee;
    border-bottom: 1px solid #aaa;
}

div.tags, div.bookmarks {
    margin: 0;
    padding: 10px 20px;
}

.tags span {
  margin-right: 1rem;
    /*word-break: keep-all;*/
    padding: 0 0.4rem;
}

.tags span.on {
  background-color: gold;
}

.c5   { font-size: 0.75rem; }
.c10  { font-size: 1rem; }
.c20  { font-size: 1.3rem; }
.c50  { font-size: 1.7rem; }
.c100 { font-size: 2.0rem; }
.cMax { font-size: 2.3rem; }

div.bookmarks {
    line-height: 1.4rem;
}