body {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

div.tags {
    background-color: #eeeeee;
    border-bottom: 1px solid #aaa;
    word-wrap: break-word;
}

div.tags, div.bookmarks {
    margin: 0;
    padding: 10px 20px;
}

/*
.tags span {
  margin-right: 1rem;
    padding: 0 0.4rem;
}

.tags span.on {
  background-color: gold;
}
*/

.tags a {
    margin-right: 1rem;
    padding: 0 0.4rem;
    color: #333;
}

.tags a.on {
    background-color: gold;
}

.c5   { font-size: 0.75rem; }
.c10  { font-size: 1rem; }
.c20  { font-size: 1.3rem; }
.c50  { font-size: 1.7rem; }
.c100 { font-size: 2.0rem; }
.cMax { font-size: 2.3rem; }

.c5   { font-size: 0.75rem; }
.c10  { font-size: 1rem; }
.c20  { font-size: 1.3rem; }
.c50  { font-size: 1.7rem; }
.c100 { font-size: 2.0rem; }
.cMax { font-size: 2.3rem; }

div.bookmarks {
    line-height: 1.4rem;
}