body {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

div.tags {
    background-color: #eeeeee;
    border-bottom: 1px solid #aaa;
    word-wrap: break-word;
}

div.tags, div.bookmarks {
    margin: 0;
    padding: 5px;
}

div.bookmarks > div {
    padding: 0 5px;
}

.tags a {
    color: #333;
}

.bookmarks > div:hover {
    background-color: #EBE5FB;
}

.tags .on {
    background-color: #FFFF8F;
}

.tags span:hover {
    background-color: #fff;
}

.c5   { font-size: 0.75rem; margin: 0 0.1rem; padding: 0 0.1rem; }
.c10  { font-size: 1rem; margin: 0 0.1rem; padding: 0 0.1rem; }
.c20  { font-size: 1.3rem; margin: 0 0.1rem; padding: 0 0.3rem; }
.c50  { font-size: 1.6rem; margin: 0 0.1rem; padding: 0 0.3rem; }
.c100 { font-size: 1.84rem; margin: 0 0.1rem; padding: 0 0.3rem; }
.cMax { font-size: 2rem; margin: 0 0.1rem; padding: 0 0.3rem; }

.all   { font-weight: bold }


div.bookmarks {
    line-height: 1.4rem;
}

.message {
    padding: 10px;
    border-bottom: 1px solid #999;
    color: #555;
}

.message.info {
    background-color: #CEF9CE;
}

.message.error {
    background-color: #FF6058;
}
